li[aria-controls="Root_FileTracking"],
li[aria-controls="Root_LinkTracking"] {
  display: none;
}

.notice-wrap {
  pointer-events: none;
}

.col-buttons + .col-buttons {
  padding-left: 0;
}

/*ED-45, don't make long menus go off the page. */
.cms #vakata-contextmenu li ul {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* theme */
.cms-sitename {
  border-bottom-color: #1E2229;
}

.cms-menu__header {
  background-color: #2C2C2C;
}
