li[aria-controls="Root_FileTracking"],
li[aria-controls="Root_LinkTracking"] {
  display: none;
}

.notice-wrap {
  pointer-events: none;
}

.col-buttons + .col-buttons {
  padding-left: 0;
}

/*ED-45, don't make long menus go off the page. */
.cms #vakata-contextmenu li ul {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* theme */
.cms-sitename {
  border-bottom-color: #1E2229;
  justify-content: flex-start;
}

.cms-menu__header,
.cms-sitename:focus, .cms-sitename:hover,
.cms-login-status .cms-login-status__logout-link:focus, .cms-login-status .cms-login-status__logout-link:hover {
  background-color: #2C2C2C;
}

.cms-sitename .cms-sitename__link {
  display: block;
  width: 60px;
  height: 53px;
  background: url(../../silverstripe-ds/client/img/moe-logo-white.svg) no-repeat left center;
}

.collapsed .cms-sitename .cms-sitename__link {
  background-position: center center;
}

.cms-sitename .cms-sitename__link:before {
  display: none;
}

.cms-login-status .cms-login-status__profile-link:focus, .cms-login-status .cms-login-status__profile-link:hover {
  background-color: #2C2C2C;
}
