assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.solr
.ea
nbproject
apache
advancedworkflow/
buildtools/
cms/
cwp/
cwp-core/
cwp-recipe-basic/
cwp-recipe-basic-dev/
docsviewer/
documentconverter/
framework/
fulltextsearch/
html5/
iframe/
multivaluefield/
nginx
queuedjobs/
registry/
restfulserver/
sortablegridfield/
subsites/
tags
taxonomy/
testdata/
testsession/
translatable/
userforms/
versionedfiles/
versionfeed/
.idea
.DS_Store
vendor/
sitestructure/
silverstripe-phockito/
fulltextsearch-localsolr/
silverstripe-phockito/*
.idea/
db-and-assets-synch/
subsiteseparation/
secureassets/
securityreport/
embed-image-nosize/
selectupload/
externallinks/
hybridsessions/
mimevalidator/
parent-core/
spellcheck/
themes/
long-document-accordion/
collapsible-containers
subsite-config
sitemap.xml
silverstripe-googlesitemapautoupdate
environmentcheck
minify
.vagrant
